.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
android/.gradle/
android/local.properties
*.iml
.idea/
.vscode/
admin/config.js
dist/
*.jks
*.keystore
android/key.properties
.env
.env.*
!*.example
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
